.left {
    display: inline-block;
    width: 675px;
}
.right {
    display: inline-block;
    width: 675px;
    margin-left: 30px;
}

.leftside {
    display: inline-block;
    width: 400px;
}
.link {
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;
}
.underline {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;

}
.form {
    margin-left: 25px;
    margin-right: 25px;
}
.table {
    display: inline-block;
    width: 240px;
    text-align: center;
}
.add {
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
}
.add1 {
    text-align: center;
}
.add3 {
    text-align: center;
}