<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
  integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
        <h1 class="page-title">Meet the founders of YumYum</h1>
        <!-- /.section-title -->
      </div>
    </div>
    <div class="row">
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="assets/images/moe.jpg" alt="Moe" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Mubarak Al Hmood</h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="assets/images/gino.jpeg" alt="Gino" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Eugene Benitez </h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="assets/images/brian.jpeg" alt="Brian" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Brian Kamikawa</h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="assets/images/andrew.jpeg" alt="Andrew" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Andrew Quan</h4>
          </div>
        </div>
        <!-- /.team-block -->
      </div>

    </div>
    <div class="row">

    </div>
  </div>